@use "../../styles/variables" as *;

@layer components {
  .button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: $border-radius-full;
    font-weight: $font-weight-bold;
    line-height: $line-height-none;
    font-family: $font-family-sans;
    transition: $transition-base;
  }

  .primary {
    background-color: $color-primary-600;
    color: $color-text-primary-dark;

    &:hover {
      background-color: $color-primary-700;
    }

    &:active {
      background-color: $color-primary-800;
    }
  }

  .secondary {
    box-shadow: $shadow-sm;
    background-color: transparent;
    color: $color-text-primary;
    border: $border-width-1 solid $color-border;

    &:hover {
      background-color: $color-background-secondary;
    }

    &:active {
      background-color: $color-background-tertiary;
    }
  }

  .sm {
    padding: $spacing-2 $spacing-4;
    font-size: $font-size-xs;
  }

  .md {
    padding: $spacing-3 $spacing-5;
    font-size: $font-size-sm;
  }

  .lg {
    padding: $spacing-3 $spacing-6;
    font-size: $font-size-base;
  }
}
