@use "../styles/variables" as *;

.storybookPage {
  margin: 0 auto;
  padding: $spacing-12 $spacing-5;
  max-width: 600px;
  color: $color-text-primary;
  font-size: $font-size-sm;
  line-height: $line-height-relaxed;
  font-family: $font-family-sans;

  h2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 $spacing-1;
    font-weight: $font-weight-bold;
    font-size: $font-size-4xl;
    line-height: $line-height-none;
    color: $color-text-primary;
  }

  p {
    margin: 1em 0;
    color: $color-text-secondary;
  }

  a {
    color: $color-primary-600;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      color: $color-primary-700;
      text-decoration: underline;
    }

    strong {
      font-weight: $font-weight-semibold;
    }
  }

  ul {
    margin: 1em 0;
    padding-left: $spacing-8;
    color: $color-text-secondary;
  }

  li {
    margin-bottom: $spacing-2;
  }
}

.tip {
  display: inline-block;
  vertical-align: top;
  margin-right: $spacing-3;
  border-radius: $border-radius-full;
  background: $color-success-light;
  padding: $spacing-1 $spacing-3;
  color: $color-success-dark;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  line-height: $line-height-tight;
}

.tipWrapper {
  margin-top: $spacing-10;
  margin-bottom: $spacing-10;
  font-size: $font-size-sm;
  line-height: $line-height-normal;
  padding: $spacing-4;
  background-color: $color-background-secondary;
  border-radius: $border-radius-lg;
  border-left: $border-width-4 solid $color-info;

  svg {
    display: inline-block;
    vertical-align: top;
    margin-top: $spacing-1;
    margin-right: $spacing-1;
    width: 12px;
    height: 12px;
  }

  svg path {
    fill: $color-info;
  }

  @include respond-to(md) {
    padding: $spacing-12 $spacing-6;
    max-width: 800px;
  }

  @include respond-to(lg) {
    max-width: 1000px;
  }
}
